.warper {
    overflow: hidden;
    position: absolute;
    background-color: rgba(255, 165, 2, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.child :hover {
    background-color: rgba(255, 165, 2, 1);
}

.file {
    overflow: hidden;
    position: absolute;
    background-color: rgba(9, 132, 227, 0.3);
}
.file :hover {
    background-color: rgba(9, 132, 227, 1);
}

.content-container {
    border: 1px solid darkgoldenrod;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px;
}

.children-container {
    position: relative;
    flex-grow: 1;
}
