.warper {
    overflow: hidden;
    position: absolute;
    background-color: rgba(255, 165, 2, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.child :hover {
    background-color: rgba(255, 165, 2, 1);
}

.file {
    overflow: hidden;
    position: absolute;
    background-color: rgba(9, 132, 227, 0.3);
}
.file :hover {
    background-color: rgba(9, 132, 227, 1);
}

.content-container {
    border: 1px solid darkgoldenrod;
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
