#back {
    background-color: darkgoldenrod;
    padding: 4px 8px;
    cursor: pointer;
}

#main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#treemap {
    width: 100%;
    flex-grow: 1;
}
