$background-dark: rgb(16, 16, 16);
$background-normal: rgb(32, 32, 32);
$background-light: rgb(64, 64, 64);

$color-selected: rgb(0, 128, 255);

$font-color-normal: white;
$font-color-dark: rgb(29, 9, 9);
$font-color-fine: rgb(128, 128, 128);

$font-size-normal: 16px;
$font-size-small: 12px;
$font-size-fine: 8px;

$border-normal: rgb(72, 72, 72);
